<div class="text-center" id="social">
            <ul class="list-inline social-buttons">
                <li>
                    <a href="http://twitter.com/murphytalk" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/murphytalk" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+LuMu-happy" target="_blank"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="http://github.com/murphytalk" target="_blank"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="http://bitbucket.org/murphytalk" target="_blank"><i class="fa fa-bitbucket"></i></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/murphytalk" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
</div>
